.avatar {
	height: 50px;
	border: 1px solid #fff;
}

.btn-create-account {
	margin: auto 5px auto auto;
}

.selector h2 {
	font-size: 14pt;
}

#id_contractors_filter label {
	width: 20px;
	float: left;
}

#id_contractors_filter #id_contractors_input {
	width: 224px;
	float: left;
}

#id_contractors_filter {
	border-width: 0px;
	height: 39px;
}

.row .selector .selector-available h2, .row .selector .selector-chosen h2 {
	background-color: #fff;
	background-image: none;
	color: #666;
	font-size: 14pt;
	margin: 10px 0;
	border-radius: 4px;
	margin-top: 0px;
}

#id_contractors_to {
	border-top: 1px solid #CCC;
}

.table-striped tbody > tr.entry-filter:nth-child(odd) > th, tr.entry-filter th {
	background-color: #fff;
	border-width: 0px;
}

.table-striped tbody > tr.entry-filter:nth-child(odd) > th {
	border-top: 1px solid #DDD;
}

.table-striped tbody > tr.entry-filter select {
	margin: 0px;
}

.statistics {
	line-height: 22px;
	padding: 0 4px;
	font-weight: bold;
	font-size: 14px;
	border-radius: 8px;
	margin: 0;
	display: block;
	padding: 10px;
	font-size: 28px;
	text-align: center;
	text-shadow: 0px 2px 0px #FFE0E0;
}

.income {
	color: green;
	border: 1px solid green;
	background-color: lightgreen;
}

.outcome {
	color: red;
	border: 1px solid red;
	background-color: lightpink;
}

.zero {
	color: black;
	border: 1px solid black;
	background-color: grey;
}

.input-block-level {
	display: block;
	width: 100%;
	min-height: 28px;        // Make inputs at least the height of their button counterpart
	.box-sizing(border-box); // Makes inputs behave like true block-level elements
}

.block {
  text-align: center;
  background: #c0c0c0;
  border: #a0a0a0 solid 1px;
  margin: 20px;
}

.centered {
   	position: fixed;
   	top: 50%;
   	left: 50%;
   	height: 100px;
   	margin-top: -50px;
   	width: 214px;
   	margin-left: -117px;
   	text-align: center;
   	border: 1px solid #E6E6E6;
	padding: 10px;
	border-radius: 8px;
 }
