{% if announcement %}
	<div class="row row-announcement">
		<div class="span12">
		    <div class="alert alert-info">
		    	<a href="#" a-href="{% url 'announcement_confirm_process' announcement.id %}" class="close" id="announcement_confirm_process"><small>confirm</small></a>
		    	<h4>{{ announcement.title }}</h4>
    			{{ announcement.content }} 
    		</div>
		</div>
	</div>
{% endif %}