<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
		<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="{{ STATIC_URL }}bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="{{ STATIC_URL }}style.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="{{ STATIC_URL }}jquery-ui-1.10.2.custom.min.css" rel="stylesheet" type="text/css" media="screen" />
		<link rel="Shortcut icon" href="{{ STATIC_URL }}images/favicon.gif" />
			    
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/script.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/laki.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/jquery-ioweyou-infinity-paginator.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-modal.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-modalmanager.js" type="text/javascript"></script>
	{% endblock %}
	<title>{% block title %}I Owe YOU!{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">  
</head>

<body>
	<div class="container">
      	<div class="row">
      		<div class="span12">
	      		{% block navbar %}
				<div class="navbar navbar-static-top">
					<div class="navbar-inner">
						<a class="brand" href="/">I Owe YOU!</a>
						<ul class="nav nav-collapse collapse">
							{% block top_menu_dashboard %}<li><a href="{% url 'dashboard' %}">Dashboard</a></li>{% endblock %}
							{% block top_menu_announcement %}<li><a href="{% url 'announcement_view' %}">Announcements</a></li>{% endblock %}
						</ul>
						<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<ul class="nav pull-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="icon-user"></i> {{ user.first_name }} {{ user.last_name }} <b class="caret"></b>
								</a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
								  <li><a href="{% url 'logout' %}">Logout</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			{% endblock %}
		</div>
      	</div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>