<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
		    <link href="{{ STATIC_URL }}style.css" rel="stylesheet" type="text/css" media="screen" />
		    <link href="{{ STATIC_URL }}jquery-ui-1.10.2.custom.min.css" rel="stylesheet" type="text/css" media="screen" />
		    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		    <script src="{{ STATIC_URL }}js/script.js" type="text/javascript"></script>
		    <script src="{{ STATIC_URL }}js/laki.js" type="text/javascript"></script>
		    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
		    <link rel="Shortcut icon" href="{{ STATIC_URL }}images/favicon.gif" />
	    {% endblock %}
	    <title>{% block title %}I Owe YOU!{% endblock %}</title>
	</head>
	<body>
		<div class="centered">
			<h1><strong>I Owe YOU!</strong></h1>
			<a href="{% url 'socialauth_begin' 'facebook' %}" class="btn btn-primary btn-large btn-create-account btn-block">Login with Facebook</a>
		</div>
	</body>
</html>