{% extends "base.html" %}

{% block top_menu_dashboard %}<li class="active"><a href="{% url 'dashboard' %}">Dashboard</a></li>{% endblock %}

{% block content %}
    {% block breadcrumb %}
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb" style="margin-top: 20px;">
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                </ul>
            </div>
        </div>
    {% endblock %}
    {% include 'ioweyou/partials/announcement.html' %}
    {% include 'ioweyou/partials/messages.html' %}
    <div class="row">
        <div class="span8">
          <a href="{% url 'user_friendlist_process' %}" class="btn btn-block">refresh friends list</a>
        </div>
    </div>
{% endblock %}
