{% extends "guest.html" %}

{% block content %}
<div class="page-header">
  <h1>Create Account</h1>
</div>
<div class="row">
		<div class="span8">
			<h3>Rules</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel ligula erat. Nam consequat varius sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel libero vel augue semper pharetra. Praesent pharetra, turpis sit amet iaculis rutrum, ipsum odio egestas mauris, eu placerat odio augue ac dolor. Proin euismod, quam vitae feugiat sollicitudin, sem arcu lobortis mauris, sit amet gravida odio erat sed ipsum. Proin id arcu eu dui pharetra egestas. Aenean sed hendrerit lectus. Mauris vulputate, dolor et vehicula aliquet, dui massa elementum lorem, eu lacinia turpis risus quis ante. Phasellus arcu diam, molestie at sollicitudin at, tincidunt non turpis. Integer in lorem ut diam molestie scelerisque eget vel diam. Morbi eget fringilla tortor. Nulla facilisi.
			</p>
		</div>
		<div class="span4">
			<h3>Registration form</h3>
			<form action="register" method="post" class="form form-horizontal">
				{% csrf_token %}
				<div class="control-group">
			        {{ registration_form.username.errors }}
			        {{ registration_form.username }}
		    	</div>
		        <div class="control-group">
			        {{ registration_form.first_name.errors }}
			        {{ registration_form.first_name }}
		        </div>
		        <div class="control-group">
			        {{ registration_form.last_name.errors }}
			        {{ registration_form.last_name }}
		        </div>
		        <div class="control-group">
			        {{ registration_form.email.errors }}
			        {{ registration_form.email }}
		        </div>
		        <div class="control-group">
			        {{ registration_form.password.errors }}
			        {{ registration_form.password }}
		        </div>
		        <button type="submit" class="btn btn-block btn-inverse">create account</button>
			</form>
		</div>
</div>
{% endblock %}