{% extends "base.html" %}

{% block top_menu_announcement %}<li class="active"><a href="{% url 'announcement_view' %}">Announcements</a></li>{% endblock %}

{% block content %}
    {% block breadcrumb %}
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb" style="margin-top: 20px;">
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                </ul>
            </div>
        </div>
    {% endblock %}
	<div class="row">
		<div class="span8">
			<h3 style=>Announcements Archive </h3>
            {% for Announcement in announcements %}
                <div class="announcement" style="padding-bottom: 20px">
                    <h4 style="display: block; border-bottom: 2px solid; line-height: 40px; color: rgb(119, 119, 119);">{{ Announcement.title }}
                        <span style="float: right; font-size: 12px; color: #555; line-height: 65px; font-weight: normal;">{{ Announcement.created_at }}</span>
                    </h4>
                    <p class="well" style="display: block;">
                        {{ Announcement.content }}
                    </p>
                </div>
            {% endfor %}
		</div>
	</div>
{% endblock %}