{% extends "base.html" %}

{% block top_menu_dashboard %}<li class="active"><a href="{% url 'dashboard' %}">Dashboard</a></li>{% endblock %}

{% block content %}
    {% block breadcrumb %}
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb" style="margin-top: 20px;">
                    <li><a href="{% url 'dashboard' %}">Dashboard</a> <span class="divider">/</span></li>
                    <li class="active">{{ entry.name }}</li>
                </ul>
            </div>
        </div>
    {% endblock %}
    {% include 'ioweyou/partials/messages.html' %}
    <div class="row">
        <div class="span8">
            <h3>Details </h3>
            <table class="table">
                <tr>
                    <td>
                        <strong>Lender</strong>
                    </td>
                    <td>
                        <strong>Debtor</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://graph.facebook.com/{{ entry.lender.username }}/picture" alt="" style="width: 30px" class="img-polaroid"/> <a href="https://www.facebook.com/{{ entry.lender.username }}">{{ entry.lender.profile.get_fullname }}</a>
                    </td>
                    <td>
                        <img src="http://graph.facebook.com/{{ entry.debtor.username }}/picture" alt="" style="width: 30px" class="img-polaroid"/> <a href="https://www.facebook.com/{{ entry.debtor.username }}">{{ entry.debtor.profile.get_fullname }}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Name</strong>
                    </td>
                    <td>
                        {{ entry.name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Value</strong>
                    </td>
                    <td>
                        {{ entry.value }} zł
                    </td>
                </tr>
                {% if entry.is_open %}
                <tr class="warning">
                {% elif entry.is_accepted %}
                <tr class="success">
                {% elif entry.is_rejected %}
                    <tr class="error">
                {% endif %}
                    <td>
                        <strong>Status</strong>
                    </td>
                    <td>
                        {{ entry.get_statusname }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Description</strong>
                   </td>
                    <td>
                        {{ entry.description }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Created on</strong>
                    </td>
                    <td>
                        {{ entry.created_at }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="span4">
            <div class="row">
                <div class="span4">
                    <h3>Actions </h3>
                        {% if entry.debtor_id == request.user.id %}
                            {% if not entry.is_acceptable %}
                                <a href="#" class="btn btn-large btn-success btn-block disabled"><i class="icon-ok icon-white"></i> Already {{ entry.get_statusname.lower }}</a>
                            {% else %}
                                <a href="#accept-prompt" data-toggle="modal" href="http://google.pl" class="btn btn-large btn-success btn-block"><i class="icon-ok icon-white"></i> Accept</a>
                            {% endif %}
                            {% if not entry.is_rejectable %}
                                <a href="#" class="btn btn-large btn-danger btn-block disabled"><i class="icon-ok icon-white"></i> Already {{ entry.get_statusname.lower }}, can not be rejected</a>
                            {% else %}
                                <a href="#reject-prompt" data-toggle="modal"  class="btn btn-large btn-danger btn-block"><i class="icon-ban-circle icon-white"></i> Reject</a>
                            {% endif %}
                        {% elif entry.lender_id == request.user.id %}
                            {% if not entry.is_editable %}
                                <a href="#" class="btn btn-large btn-primary btn-block disabled"><i class="icon-ok icon-white"></i> Already {{ entry.get_statusname.lower }}, can not be edited</a>
                            {% else %}
                                <a href="#edit-debt-modal-form" data-toggle="modal" class="btn btn-large btn-primary btn-block"><i class="icon-ok icon-white"></i> Edit</a>
                            {% endif %}
                            {% if not entry.is_deletable %}
                                <a href="#" class="btn btn-large btn-inverse btn-block disabled"><i class="icon-edit icon-white"></i> Already {{ entry.get_statusname.lower }}, can not be deleted</a>
                            {% else %}
                                <a href="#delete-prompt" data-toggle="modal" class="btn btn-large btn-inverse btn-block"><i class="icon-remove icon-white"></i> Delete</a>
                            {% endif %}
                        {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    {% if comments.count %}
                        <h3>Comments </h3>
                        <table  class="table table-striped">
                            {% for comment in comments %}
                                <tr>
                                    <td>
                                        <i class="icon-comment"></i> <strong>{{ comment.user.profile.get_fullname }}</strong> <small>{{ comment.created_at }}</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ comment.content }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                    <h3>Add comment </h3>
                    <form id="entry_comment_add_process" action="{% url 'entry_comment_add_process' entry.id %}" method="post" class="form form-horizontal">
                        <div class="control-group">
                            {% csrf_token %}
                            {{ comment_form.content }}
                        </div>
                        <button type="submit" class="btn btn-primary">send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{ edit_debt_modal.render }}
    {% include 'entry/modals/delete_prompt.html' with entry=entry %}
    {% include 'entry/modals/accept_prompt.html' with entry=entry %}
    {% include 'entry/modals/reject_prompt.html' with entry=entry %}
{% endblock %}
