{% extends "base.html" %}

{% block top_menu_dashboard %}<li class="active"><a href="{% url 'dashboard' %}">Dashboard</a></li>{% endblock %}

{% block content %}
    {% block breadcrumb %}
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb" style="margin-top: 20px;">
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                </ul>
            </div>
        </div>
    {% endblock %}
    {% include 'ioweyou/partials/announcement.html' %}
    {% include 'ioweyou/partials/messages.html' %}
    <div class="row">
        <div class="span8">
            <h3>Transaction list </h3>
                <table id="ui-dashboard-entry-list" class="table table-striped">
            {% if entries %}
                    <tbody>
                        {% include 'dashboard/partials/tbody.html' %}
                    </tbody>
                </table>
                {% include 'dashboard/partials/paginator.html' with object=entries filter_string=filter_string %}
            {% else %}
                </table>
                <div class="alert" style="margin-top: 20px;">
                    <strong>Ups!</strong> No entries are available.
                </div>
            {% endif %}
        </div>
        <div class="span4">
            <div class="row">
                <div class="span4">
                    <h3>Summary</h3>
                    {% if ratio %}
                        {% if ratio == 0 %}
                            <div class="statistics zero">
                                {{ ratio }} zł
                            </div>
                        {% elif ratio > 0 %}
                            <div class="statistics income">
                                {{ ratio }} zł
                            </div>
                        {% elif ratio < 0 %}
                            <div class="statistics outcome">
                                {{ ratio }} zł
                            </div>
                        {% endif %}
                    {% endif %}      
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    <h3>Actions</h3>
                    <a href="#add-debt-modal-form" class="btn btn-large btn-primary btn-block" role="button" data-toggle="modal">{{ add_debt_modal.header.title }}</a>
                    <a href="#pay-debt-modal-form"  class="btn btn-large btn-inverse btn-block" role="button" data-toggle="modal">{{ pay_debt_modal.header.title }}</a>
                </div>
            </div>
            <div class="row">
                <div class="span4 entry-filter">
                    {% include 'dashboard/partials/filter.html' with filter=filter %}
                </div>
            </div>
        </div>
    </div>
    {{ add_debt_modal.render }}
    {{ pay_debt_modal.render }}
{% endblock %}
