<div id="edit-prompt" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Edit form</h3>
    </div>
    <div class="modal-body">
        <form id="entry_edit_process" action="{% url 'entry_edit_process' entry.id %}" method="post" class="form form-horizontal">
            {% csrf_token %}
            {{ edit_form }}
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <input value="Save" type="submit" class="btn btn-primary" form="entry_edit_process" />
    </div>
</div>