 <div class="modal-body">
 	<form id="modal-form" method="post">
        {% csrf_token %}
        <div class="control-group">
		 	<strong>{{ body.modal.form.name.label }}</strong>
		 	{% if body.modal.form.name.errors %}
		 		<div class="alert alert-error">
		 			{{ body.modal.form.name.errors.as_text }}
		 		</div>
		 	{% endif %}
		 	{{ body.modal.form.name }}
	 	</div>
	 	<div class="control-group">
		 	{{ body.modal.form.value.label}}
		 	{% if body.modal.form.value.errors %}
		 		<div class="alert alert-error">
		 			{{ body.modal.form.value.errors.as_text }}
		 		</div>
		 	{% endif %}
		 	{{ body.modal.form.value }}
	 	</div>
	 	<div class="control-group">
		 	{{ body.modal.form.description.label }}
		 	{% if body.modal.form.description.errors %}
		 		<div class="alert alert-error">
		 			{{ body.modal.form.description.errors.as_text }}
		 		</div>
		 	{% endif %}
		 	{{ body.modal.form.description }}
	 	</div>
 	</form>
 </div>