{% extends "base.html" %}

{% block head %}
        {{ block.super }}
        <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
        <script type="text/javascript" src="/my_admin/jsi18n/"></script>
        {{ entry_form.media }}
{% endblock %}

{% block top_menu_add_entry %}<li class="active"><a href="{% url 'entry_create_view' %}">Add entry</a></li>{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Add new entry</h1>
</div>
{% include 'ioweyou/partials/messages.html' %}
<div class="row">
    <div class="span4"></div>
    <div class="span4">
        <form action="{% url 'entry_multiple_create_process' %}" method="post" class="form form-horizontal">
            {% csrf_token %}
            <div class="control-group">
                {{ form.name.errors }}
                {{ form.name }}
            </div>
            <div class="control-group">
                {{ form.contractors.errors }}
                {{ form.contractors }}
            </div>
            <div class="control-group">
                {{ form.value.errors }}
                {{ form.value }}
            </div>
            <div class="control-group">
                {{ form.description.errors }}
                {{ form.description }}
            </div>
            <div class="control-group">
                {{ form.include_me.errors }}
                <label class="checkbox">
                {{ form.include_me }}
                        include me
                </label>
            </div>
            <button type="submit" class="btn btn-block btn-primary">Create entry</button>
        </form>
    </div>
    <div class="span4"></div>
</div>
{% endblock %}