<div id="reject-prompt" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Confirm the rejection.</h3>
    </div>
    <div class="modal-body">
        <table class="table table-bordered">
            <tr>
                <td>
                    <strong>Name</strong>
                </td>
                <td>
                    {{ entry.name }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Value</strong>
                </td>
                <td>
                    {{ entry.value }} zł
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Description</strong>
                </td>
                <td>
                    {{ entry.description }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Lender</strong>
                </td>
                <td>
                    {{ entry.lender.profile.get_fullname }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Debtor</strong>
                </td>
                <td>
                    {{ entry.debtor.profile.get_fullname }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Created at</strong>
                </td>
                <td>
                    {{ entry.created_at }}
                </td>
            </tr>
        </table>
        <p>Are you sure you want to reject the entry?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <a href="{% url 'entry_reject_process' entry.id %}" class="btn btn-danger">Reject</a>
    </div>
</div>