	<tr>
		<td rowspan="2" style="width:60px;">
			{% if entry.lender.id = user.id %}
				<img src="http://graph.facebook.com/{{ entry.debtor.username }}/picture" alt="" class="img-polaroid"/>
			{%else%}
				<img src="http://graph.facebook.com/{{ entry.lender.username }}/picture" alt="" class="img-polaroid"/>
			{%endif%}
		</td>
		<td>
				<a style="text-transform: capitalize;" href="/entry/{{ entry.id }}/">
					{{ entry.name }} 
					{% if entry.nb_comments %}
						<span class="badge badge-important">{{ entry.nb_comments }}</span>
					{% endif %}
				</a>
		</td>
		<td style="width: 100px; text-align: right;">
			{% if entry.lender.id = user.id %}
				<span style="color: green; font-weight:bold;">+{{ entry.value }}</span>
			{%else%}
				<span style="color: red; font-weight:bold;">-{{ entry.value }}</span>
			{%endif%}
		</td>
	</tr>
	{% include 'dashboard/partials/entry_row_2.html' %}