	<tr>
		<td>
			{% if entry.lender.id = user.id %}
				{{ entry.debtor.first_name }} {{ entry.debtor.last_name }}
			{%else%}
				{{ entry.lender.first_name }} {{ entry.lender.last_name }}
			{%endif%}
		</td>
		<td style="width: 100px; text-align: right;">
			{{ entry.get_statusname }}
		</td>
	</tr>