<h3>Filters</h3>
<form id="ui-dashboard-filter" class="form-horizontal">
    <div class="control-group">
        {{ filter.contractors.label }}
        {% if filter.contractors.errors %}
            <div class="alert alert-error">
                {{ filter.contractors.errors.as_text }}
            </div>
        {% endif %}
        {{ filter.contractors }}
    </div>
    <div class="control-group">
        {{ filter.status.label }}
        {% if filter.status.errors %}
            <div class="alert alert-error">
                {{ filter.status.errors.as_text }}
            </div>
        {% endif %}
        {{ filter.status }}
    </div>
    <div class="control-group">
        {{ filter.date_from.label }}
        {% if filter.date_from.errors %}
            <div class="alert alert-error">
                {{ filter.date_from.errors.as_text }}
            </div>
        {% endif %}
        {{ filter.date_from }}
    </div>
    <div class="control-group">
        {{ filter.date_to.label }}
        {% if filter.date_to.errors %}
            <div class="alert alert-error">
                {{ filter.date_to.errors.as_text }}
            </div>
        {% endif %}
        {{ filter.date_to }}
    </div>
</form>
