<div  class="pagination pagination-centered">
	{% if object.has_next %}
		<a href="#" id="ui-ifinity-paginator"
		   data-page="{{object.number}}"
		   data-next-page="{{object.next_page_number}}"
		   data-max-page="{{object.paginator.num_pages}}"
		   class="btn btn-block btn-large btn-info">Load more entrys, page <span>{{object.number}}/{{object.paginator.num_pages}}</span>
		</a>
	{% else %}
		<a href="#" disabled="disabled" class="btn btn-block btn-large btn-info">Last Page [{{object.number}}]</a>
	{% endif %}	
</div>
<script>
	$(document).ready(function() {
		$('#ui-ifinity-paginator').infinityPaginator('{% url 'dashboard_entries' %}', $('#ui-dashboard-entry-list tbody'), $('#ui-dashboard-filter'));	
	})
</script>